*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #b91450;
}

h1{
    color: #fff;
    text-align: center;
    margin: 10px;
}

.row{
    display: flex;
    flex-direction: column;
}

.col{
    background-color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    box-shadow: 3px 8px 10px black;
}

form{
    display: flex;
}

label{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #cf306a;
}

input{
    border: 1.5px solid #b91450;
    margin: 0 30px;
    text-align: center;
}

.d-flex{
    display: flex;
    justify-content: center;
}

a, button{
    color: #b91450;
    font-weight: bold;
    margin-top: 30px;
}

button{
    margin-left: 10px;
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    padding: 3px;
    border: 1px solid grey;
}

button:hover{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 3px;
}

a{
    text-decoration: none;
}

.content{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.passeggero{
    background-color: gray;
}

h5{
    margin-bottom: 50px;
}